{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="icon"  href="{% static 'img/favicon .ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'img/favicon .ico' %}" type="image/png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% if object %}Editar{% else %}Cadastro da{% endif %} Obra</title>

   
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    <style>
        body {
            background-color: #e0f7ff; 
        }
        .logo {
            max-width: 150px;
            margin: 20px auto;
            display: block;
        }
        .form-container {
            background-color: #f8f9fa;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .form-title {
            color: #ff8c00; /* Laranja */
            font-weight: bold;
        }
        .form-label {
            font-weight: bold;
            color: #333;
        }
        .form-control {
            border-radius: 8px;
        }
        .btn-primary {
            background-color: #05aceb;
            border-color: #05aceb;
        }
        .btn-secondary {
            background-color: #ff8c00;
            border-color: #ff8c00;
            color: #fff;
        }
    </style>
</head>

<body class="bg-gradient-primary">
    <div class="container">
       
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5 form-container">
                                    
                                    <div class="text-center">
                                        <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo">
                                    </div>
                                    <div class="text-center">
                                        <h1 class="h4 form-title mb-4">{% if object %}Editar{% else %}Cadastrar{% endif %} Obra</h1>
                                    </div>

                                    
                                    {% if user.is_authenticated %}
                                        <p>Usuário logado: {{ user.username }}</p>
                                    {% else %}
                                        <p>Nenhum usuário logado.</p>
                                    {% endif %}

                                    
                                    {% if form.errors %}
                                        <div class="alert alert-danger">
                                            <strong>Por favor, corrija os erros abaixo:</strong>
                                            <ul>
                                                {% for field in form %}
                                                    {% for error in field.errors %}
                                                        <li>{{ field.label }}: {{ error }}</li>
                                                    {% endfor %}
                                                {% endfor %}
                                                {% for error in form.non_field_errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}

                                    
                                    <form method="post">
                                        {% csrf_token %}
                                        
                                        
                                        <div class="mb-3">
                                            <label class="form-label" for="id_nome">Nome da Obra:</label>
                                            {{ form.nome }}
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="id_descricao">Descrição:</label>
                                            {{ form.descricao }}
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="id_endereco">Endereço:</label>
                                            {{ form.endereco }}
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="id_data_inicio">Data de Início:</label>
                                            {{ form.data_inicio }}
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="id_dt_prev_fim">Data Prevista de Finalização:</label>
                                            {{ form.dt_prev_fim }}
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="id_valor_total">Custo Total da Obra:</label>
                                            {{ form.valor_total }}
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="id_progresso_total">Evolução da Obra:</label>
                                            {{ form.progresso_total }}
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="id_gerente">Gerente:</label>
                                            {{ form.gerente }}
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="id_mestres">Mestre de Obra:</label>
                                            {{ form.mestres }}
                                        </div>

                                        <button type="submit" class="btn btn-primary btn-user btn-block">Salvar</button>
                                    </form>

                                    <a href="{% url 'obra-list' %}" class="btn btn-secondary btn-user btn-block mt-3">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

        
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

     
        <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    </body>

</html>
